
body {
       background: linear-gradient(-45deg, #0be01d, #07c8ef, #56e274, #11acef);
       background-size: 400% 400%;
       animation: gradient 15s ease infinite;
   }
   
   @import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap');
   
   body{
   
     background-color: #eee;
   }
   
   .navbar-nav>li>a{
   
     text-transform: uppercase;
     font-size: 12px;
     margin-right:20px;
     color: #fff;
   }
   
   
   .navbar-toggler {
       padding: .20rem .50rem;
       font-size: 1.25rem;
       line-height: 1;
       background-color: transparent;
       border: 1px solid white;
   
       }
   
       .nav-link{
   
         color: #fff !important;
       }
   
   
   .wrapper{
         width: 100%;
       position: absolute;
       height: 100%;
       background-color: linear-gradient(-45deg, #11acef,#0be01d, #07c8ef, #56e274);;
       clip-path: polygon(81% 0, 100% 0, 100% 50%, 100% 100%, 71% 100%);
       transition: 1s all;
   }
   
   .navbar-brand{
   
     color:#fff;
     font-family: 'Allerta Stencil', sans-serif;
     margin-bottom: 4px;
     font-size: 27px;
   }
   
   .navbar-red:hover .wrapper{
   
     clip-path: polygon(81% 0, 100% 0, 100% 50%, 100% 100%, 65% 100%);
   
   }
   
   .navbar-brand:hover{
   
     color:#fff;
     
   }
   
   .navbar-red{
   
     background-color: linear-gradient(-45deg, #0be01d, #07c8ef, #56e274, #11acef);
     color: #fff;
   
   }
   
   .all-show{
   
     z-index: 10;
   }
              
              
              .table>tbody>tr>td {
                     vertical-align: middle;
              }
              .container{
                     display: flex;
                     width: 100%;
                     flex-direction: row;
                     justify-content: center;
                     align-items: center;
                     background-color: #eee; 
              }
              .table {
                     vertical-align: middle;
                     margin-top: 200px;
                   
              }

              body {
                     background-color: blanchedalmond;
              }


              .circle {
                     position: absolute;
                     border-radius: 50%;
                     background: white;
                     animation: ripple 15s infinite;
                     box-shadow: 0px 0px 1px 0px #508fb9;
              }

              .small {
                     width: 200px;
                     height: 200px;
                     left: -100px;
                     bottom: -100px;
              }

              .medium {
                     width: 400px;
                     height: 400px;
                     left: -200px;
                     bottom: -200px;
              }

              .large {
                     width: 600px;
                     height: 600px;
                     left: -300px;
                     bottom: -300px;
              }

              .xlarge {
                     width: 800px;
                     height: 800px;
                     left: -400px;
                     bottom: -400px;
              }

              .xxlarge {
                     width: 1000px;
                     height: 1000px;
                     left: -500px;
                     bottom: -500px;
              }

              .shade1 {
                     opacity: 0.2;
              }

              .shade2 {
                     opacity: 0.5;
              }

              .shade3 {
                     opacity: 0.7;
              }

              .shade4 {
                     opacity: 0.8;
              }

              .shade5 {
                     opacity: 0.9;
              }

              @keyframes ripple {
                     0% {
                            transform: scale(0.8);
                     }

                     50% {
                            transform: scale(1.2);
                     }

                     100% {
                            transform: scale(0.8);
                     }
              }
     